html, body {
  box-sizing: border-box;
}
:root{
  --transform-100:translateY(100%);
  --transform-50:translateY(50px);
  --transform-0:translateY(0);
  --transition:0.5s ;
  --background-color-light-mode:white;
  --light-green:#64ffda;
  --background-color:#112240;
  --box-shadow:0px 0px 40px 16px rgba(0,0,0,0.22);
  --border-radius: 5px;
 
}
.section-second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text{
  padding: 20px;
}

@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  position: relative;
  transform: var(--transform-100);
  transition: var(--transition);
  opacity: 0;
  transform: var(--transform-50);
  display: flex;
  margin: 0 auto;
  max-width: 640px;
  margin-bottom: 50px;
  padding: 0 20px 0 20px ;

}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: var(--transform-50);
  }
  to {
    opacity: 1;
    transform: var(--transform-0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease forwards;
}


@media (max-width: 767px) {
  .container {
    flex-direction: column;
    max-height: 680px;
    max-width: 620px ;
  }
}

/*
left card style on big screen
*/

.left {
  top: 30px;
  position: relative;
  width: 50%;  
  border-radius: 5px 0 0 5px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
}

.left-first {
  position: relative;
  background-image: url('../materials/project-exam-1-modified_200_3_1000x468_200.png');
}

.left-second{
  background-image: url('../materials/semester-project-1-modified_200_3_1000x468_200.png');
  border-radius: 0 5px 5px 0;
 
}
.left-third{
  background-image: url('../materials/cross-courese-project-modified_200_5_1000x468_200.png');
 
}
.left-first,
.left-second,
.left-third {
  position: relative;
}

.left-first::before,
.left-second::before,
.left-third::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-green); 
  opacity: 0.3;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.left-first:hover::before,
.left-second:hover::before,
.left-third:hover::before {
  opacity: 0;
}

.left-first:hover,
.left-second:hover,
.left-third:hover {
  background-color: transparent;
}



@media (max-width: 767px) {

  /*
  left card style on small screens
  */
  
  .left {
    display: none;
  }

}


/*
Right card on big screen style
*/

.right {
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  color: #F1F1F2;
  position: relative;
  width: 70%;
  border-radius: var(--border-radius);
}

.card-text p{
 font-weight: 200;
 font-size: 14px;

}


@media (max-width: 767px) {

  /*
  right card style here
  */

  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .right-first {
    position: relative;
    background-image: url('../materials/project-exam-1-modified_200_3_1000x468_200.png');
  }
  .right-second{
    background-image: url('../materials/semester-project-1-modified_200_3_1000x468_200.png');
  }
  
  .right-third{
    background-image: url('../materials/cross-courese-project-modified_200_5_1000x468_200.png');
   
  }
  .card-text p{
    line-height: 2;
  }
 
  
  .right-first,
  .right-second,
  .right-third {
    position: relative;
  }
  
  .right-first::before,
  .right-second::before,
  .right-third::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    opacity: 0.9;
    transition: opacity 0.3s ease;
    height: 100% auto;
    pointer-events: none;
  }
  .right-first,
  .right-second,
  .right-third {
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
  .right-first:hover::before,
  .right-second:hover::before,
  .right-third:hover::before {
    opacity: 1;
  }
  
  .right-first .card-text,
  .right-second .card-text,
  .right-third .card-text {
    color: #ffffff; 
    position: relative; 
    z-index: 1; 
  }
  .card-text:hover{
    color: #64ffda;
  }
  .right-first a,
  .right-second a,
  .right-third a {
   z-index: 3;
  position: relative;
}
 

}

@media (min-width: 767px) {
 .right{
  background-image: none;
 }
 
}

/*
right card icons styles
*/

.right-first,
.right-second,
.right-third {
  position: relative;
}

.right-first .card-text,
.right-second .card-text,
.right-third .card-text {
  margin-bottom: 30px;
}

.right-first a,
.right-second a,
.right-third a {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.right-first a:nth-of-type(2),
.right-second a:nth-of-type(2),
.right-third a:nth-of-type(2) {
  left: 40px;
}


